In [8]:
# Dependencies and Setup
import pandas as pd
#from pathlib import path
# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv("schools_complete.csv")
student_data = pd.read_csv("students_complete.csv")

# Combine the data into a single dataset.

school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete

,Student ID,student_name,gender,year,school_name,reading_score,maths_score,School ID,type,size,budget
0,0,Paul Bradley,M,9,Huang High School,96,94,0,Government,2917,1910635
1,1,Victor Smith,M,12,Huang High School,90,43,0,Government,2917,1910635
2,2,Kevin Rodriguez,M,12,Huang High School,41,76,0,Government,2917,1910635
3,3,Richard Scott,M,12,Huang High School,89,86,0,Government,2917,1910635
4,4,Bonnie Ray,F,9,Huang High School,87,69,0,Government,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12,Thomas High School,51,48,14,Independent,1635,1043130
39166,39166,Dawn Bell,F,10,Thomas High School,81,89,14,Independent,1635,1043130
39167,39167,Rebecca Tanner,F,9,Thomas High School,99,99,14,Independent,1635,1043130
39168,39168,Desiree Kidd,F,10,Thomas High School,72,77,14,Independent,1635,1043130
39169,39169,Carolyn Jackson,F,11,Thomas High School,47,62,14,Independent,1635,1043130

In [9]:
schools_count = school_data_complete["school_name"].nunique()
student_count = school_data_complete["Student ID"].nunique()
total_budget = school_data_complete["budget"].sum()
print("Total number of schools:",schools_count)
print("Total number of students:",student_count)
print("Total budget:",total_budget)

Total number of schools: 15
Total number of students: 39170
Total budget: 82932329558

In [10]:
average_maths_score = school_data_complete['maths_score'].mean()
average_reading_score = school_data_complete['reading_score'].mean()
print("Average math score:",average_maths_score)
print("Average reading score:",average_reading_score)

Average math score: 70.33819249425581
Average reading score: 69.98013786060761

In [11]:
student_count= school_data_complete ["Student ID"].nunique()
passing_maths_count = school_data_complete [(school_data_complete["maths_score"] >= 50)].count()["Student ID"]
passing_maths_percentage = passing_maths_count / float(student_count) * 100
passing_reading_count = school_data_complete[(school_data_complete ["reading_score"]>=50)].count()["Student ID"]
passing_reading_percentage = passing_reading_count/student_count*100

passing_maths_reading_count = school_data_complete [(school_data_complete["maths_score"]>= 50) & (school_data_complete["reading_score"]>= 50)].count()["Student ID"]

overall_passing_rate = passing_maths_reading_count/student_count*100
print("Percentage of students passing math:",passing_maths_percentage) 
print("Percentage of students passing reading:",passing_reading_percentage) 
print("Percentage of students passing rate (student passing both maths and reading):",overall_passing_rate)

Percentage of students passing math: 86.07863160582077
Percentage of students passing reading: 84.42685728874139
Percentage of students passing rate (student passing both maths and reading): 72.80827163645647

In [5]:
area_summary = pd.DataFrame({
    "Total Schools": [schools_count],
    "Total Students":[student_count],
    "Total Budget":[total_budget],
    "Average Math Score":[average_maths_score],
    "Average Reading Scaore":[average_reading_score],
    "% Passing Math":[passing_maths_percentage],
    "% passing Reading": [passing_reading_percentage],
    "% overall Passing Rate":[overall_passing_rate]
})

# Formatting
area_summary["Total Students"] = area_summary["Total Students"].map("{:,}".format)
area_summary["Total Budget"] = area_summary["Total Budget"].map("${:,.2f}".format)

# Display the DataFrame
print(area_summary)

   Total Schools Total Students        Total Budget  Average Math Score  \
0             15         39,170  $82,932,329,558.00           70.338192

   Average Reading Scaore  % Passing Math  % passing Reading  \
0               69.980138       86.078632          84.426857

   % overall Passing Rate
0               72.808272

In [12]:
school_types = school_data.set_index(["school_name"])["type"]
per_school_counts = school_data.set_index(["school_name"])["size"]
per_school_budget = school_data.set_index(["school_name"])["budget"]
per_school_capita = per_school_budget / per_school_counts
per_school_maths = school_data_complete.groupby("school_name")["maths_score"].mean()
per_school_reading = school_data_complete.groupby("school_name")["reading_score"].mean()

In [24]:
per_school_passing_maths = school_passing_maths/per_school_counts *100
per_school_passing_reading = school_passing_reading/per_school_counts *100
overall_passing_rate = passing_maths_and_reading/per_school_counts *100
school_names = school_data_complete["school_name"].unique()

In [13]:
import pandas as pd
school_type= school_data.set_index("school_name")["type"]
per_school_counts = school_data.set_index("school_name")["size"]

per_school_budget = school_data.set_index("school_name")["budget"]
per_school_capita = per_school_budget / per_school_counts
per_school_maths = school_data_complete.groupby("school_name")["maths_score"].mean()
per_school_reading = school_data_complete.groupby("school_name")["reading_score"].mean()
school_passing_maths = school_data_complete[school_data_complete["maths_score"] >= 50]

school_passing_reading = school_data_complete[school_data_complete["reading_score"] >= 50]
passing_maths_and_reading = school_data_complete[(school_data_complete["maths_score"] >= 50) & (school_data_complete["reading_score"] >= 50)]
per_school_passing_maths = school_passing_maths.groupby("school_name").size() / per_school_counts * 100
per_school_passing_reading = school_passing_reading.groupby("school_name").size() / per_school_counts * 100
overall_passing_rate = passing_maths_and_reading.groupby("school_name").size() / per_school_counts * 100
per_school_summary = pd.DataFrame({
    "School Type": school_types,
    "Total Students": per_school_counts,
    "Total School Budget": per_school_budget,
    "Per Student Budget": per_school_capita,
    "Average Maths Score": per_school_maths,
    "Average Reading Score": per_school_reading,
    "% Passing Maths": per_school_passing_maths,
    "% Passing Reading": per_school_passing_reading,
    "% Overall Passing Rate": overall_passing_rate
})
per_school_summary["Total School Budget"] = per_school_summary["Total School Budget"].map("${:,.2f}".format)
per_school_summary["Per Student Budget"] = per_school_summary["Per Student Budget"].map("${:,.2f}".format)
print(per_school_summary)

                       School Type  Total Students Total School Budget  \
school_name
Bailey High School      Government            4976       $3,124,928.00
Cabrera High School    Independent            1858       $1,081,356.00
Figueroa High School    Government            2949       $1,884,411.00
Ford High School        Government            2739       $1,763,916.00
Griffin High School    Independent            1468         $917,500.00
Hernandez High School   Government            4635       $3,022,020.00
Holden High School     Independent             427         $248,087.00
Huang High School       Government            2917       $1,910,635.00
Johnson High School     Government            4761       $3,094,650.00
Pena High School       Independent             962         $585,858.00
Rodriguez High School   Government            3999       $2,547,363.00
Shelton High School    Independent            1761       $1,056,600.00
Thomas High School     Independent            1635       $1,043,130.00
Wilson High School     Independent            2283       $1,319,574.00
Wright High School     Independent            1800       $1,049,400.00

                      Per Student Budget  Average Maths Score  \
school_name
Bailey High School               $628.00            72.352894
Cabrera High School              $582.00            71.657158
Figueroa High School             $639.00            68.698542
Ford High School                 $644.00            69.091274
Griffin High School              $625.00            71.788147
Hernandez High School            $652.00            68.874865
Holden High School               $581.00            72.583138
Huang High School                $655.00            68.935207
Johnson High School              $650.00            68.843100
Pena High School                 $609.00            72.088358
Rodriguez High School            $637.00            72.047762
Shelton High School              $600.00            72.034072
Thomas High School               $638.00            69.581651
Wilson High School               $578.00            69.170828
Wright High School               $583.00            72.047222

                       Average Reading Score  % Passing Maths  \
school_name
Bailey High School                 71.008842        91.639871
Cabrera High School                71.359526        90.850377
Figueroa High School               69.077993        81.654798
Ford High School                   69.572472        82.438846
Griffin High School                71.245232        91.212534
Hernandez High School              69.186408        80.949299
Holden High School                 71.660422        89.929742
Huang High School                  68.910525        81.693521
Johnson High School                69.039277        82.062592
Pena High School                   71.613306        91.683992
Rodriguez High School              70.935984        90.797699
Shelton High School                70.257808        91.538898
Thomas High School                 69.768807        83.853211
Wilson High School                 68.876916        82.785808
Wright High School                 70.969444        91.777778

                       % Passing Reading  % Overall Passing Rate
school_name
Bailey High School             87.379421               80.084405
Cabrera High School            89.074273               80.785791
Figueroa High School           82.807731               67.650051
Ford High School               82.219788               67.469880
Griffin High School            88.487738               81.335150
Hernandez High School          81.877023               66.364617
Holden High School             88.524590               78.922717
Huang High School              81.453548               66.712376
Johnson High School            81.978576               67.191766
Pena High School               86.590437               79.209979
Rodriguez High School          87.396849               79.419855
Shelton High School            86.712095               78.875639
Thomas High School             82.629969               69.480122
Wilson High School             81.296540               67.455103
Wright High School             86.666667               79.722222

In [14]:
top_schools = per_school_summary.sort_values(by= "% Overall Passing Rate",ascending= False)
top_schools= top_schools.head(5)
print(top_schools)

                       School Type  Total Students Total School Budget  \
school_name
Griffin High School    Independent            1468         $917,500.00
Cabrera High School    Independent            1858       $1,081,356.00
Bailey High School      Government            4976       $3,124,928.00
Wright High School     Independent            1800       $1,049,400.00
Rodriguez High School   Government            3999       $2,547,363.00

                      Per Student Budget  Average Maths Score  \
school_name
Griffin High School              $625.00            71.788147
Cabrera High School              $582.00            71.657158
Bailey High School               $628.00            72.352894
Wright High School               $583.00            72.047222
Rodriguez High School            $637.00            72.047762

                       Average Reading Score  % Passing Maths  \
school_name
Griffin High School                71.245232        91.212534
Cabrera High School                71.359526        90.850377
Bailey High School                 71.008842        91.639871
Wright High School                 70.969444        91.777778
Rodriguez High School              70.935984        90.797699

                       % Passing Reading  % Overall Passing Rate
school_name
Griffin High School            88.487738               81.335150
Cabrera High School            89.074273               80.785791
Bailey High School             87.379421               80.084405
Wright High School             86.666667               79.722222
Rodriguez High School          87.396849               79.419855

In [ ]:
print(per_school_summary)

In [15]:
bottom_schools = per_school_summary.sort_values(by="% Overall Passing Rate")

bottom_schools= bottom_schools.head(5)
print(bottom_schools)

                       School Type  Total Students Total School Budget  \
school_name
Hernandez High School   Government            4635       $3,022,020.00
Huang High School       Government            2917       $1,910,635.00
Johnson High School     Government            4761       $3,094,650.00
Wilson High School     Independent            2283       $1,319,574.00
Ford High School        Government            2739       $1,763,916.00

                      Per Student Budget  Average Maths Score  \
school_name
Hernandez High School            $652.00            68.874865
Huang High School                $655.00            68.935207
Johnson High School              $650.00            68.843100
Wilson High School               $578.00            69.170828
Ford High School                 $644.00            69.091274

                       Average Reading Score  % Passing Maths  \
school_name
Hernandez High School              69.186408        80.949299
Huang High School                  68.910525        81.693521
Johnson High School                69.039277        82.062592
Wilson High School                 68.876916        82.785808
Ford High School                   69.572472        82.438846

                       % Passing Reading  % Overall Passing Rate
school_name
Hernandez High School          81.877023               66.364617
Huang High School              81.453548               66.712376
Johnson High School            81.978576               67.191766
Wilson High School             81.296540               67.455103
Ford High School               82.219788               67.469880

In [ ]:
year_nine = school_data_complete[(school_data_complete["year"] == 9)]
year_ten = school_data_complete[(school_data_complete["year"] == 10)]
year_eleven = school_data_complete[(school_data_complete["year"] == 11)]
year_twelve = school_data_complete[(school_data_complete["year"] == 12)]
year_nine_scores =year_nine.groupby("school_name")["maths_score"].mean()
year_ten_scores =year_ten.groupby("school_name")["maths_score"].mean()
year_eleven_scores =year_eleven.groupby("school_name")["maths_score"].mean()
year_twelve_scores =year_twelve.groupby("school_name")["maths_score"].mean()
maths_scores_by_year = pd.DataFrame({
    "9th": year_nine_scores,
    "10th": year_ten_scores,
    "11th": year_eleven_scores,
    "12th": year_twelve_scores
})
maths_scores_by_year.index.name = "School Name"
print(maths_scores_by_year)

In [16]:
year_nine = school_data_complete[(school_data_complete["year"] == 9)]
year_ten = school_data_complete[(school_data_complete["year"] == 10)]
year_eleven = school_data_complete[(school_data_complete["year"] == 11)]
year_twelve = school_data_complete[(school_data_complete["year"] == 12)]
year_nine_scores =year_nine.groupby("school_name")["reading_score"].mean()
year_ten_scores =year_ten.groupby("school_name")["reading_score"].mean()
year_eleven_scores =year_eleven.groupby("school_name")["reading_score"].mean()
year_twelve_scores =year_twelve.groupby("school_name")["reading_score"].mean()
reading_scores_by_year =pd.DataFrame({
    "9th": year_nine_scores,
    "10th": year_ten_scores,
    "11th": year_eleven_scores,
    "12th": year_twelve_scores})
    
reading_scores_by_year.index.name = "School Name"
print(reading_scores_by_year)

                             9th       10th       11th       12th
School Name
Bailey High School     70.901920  70.848265  70.317346  72.195525
Cabrera High School    71.172348  71.328326  71.201245  71.856021
Figueroa High School   70.261682  67.677588  69.152327  69.082126
Ford High School       69.615846  68.988701  70.735964  68.849722
Griffin High School    72.026895  70.746305  72.385042  69.434932
Hernandez High School  68.477569  70.621842  68.418199  69.244136
Holden High School     71.598425  71.096491  73.310680  70.481928
Huang High School      68.670616  69.516297  68.740638  68.671795
Johnson High School    68.719286  69.295029  69.969115  67.992521
Pena High School       70.949091  72.324000  71.703125  71.513812
Rodriguez High School  70.902921  70.137500  71.424453  71.414449
Shelton High School    70.715094  69.879464  71.150485  69.070081
Thomas High School     69.672451  69.741093  70.749398  68.730769
Wilson High School     68.683043  68.412541  68.796327  69.888143
Wright High School     71.823529  71.386831  70.475862  69.821138

In [17]:
spending_bins = [0, 585, 630, 645, 680]
group_names = ["$585", "$585-630", "$630-645", "$645-680"]

In [18]:
school_spending_df = per_school_summary

In [ ]:
size_bins = [0, 1000, 2000, 5000]
group_names = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

In [ ]:
per_school_summary["School Size"] = pd.cut(per_school_summary["Total Students"],bin=size,labels=group_names)
print(per_school_summary)

In [ ]:
size_summary = pd.DataFrame({
    "Average Maths Score": size_maths_scores,
    "Average Reading Score": size_reading_scores,
    "% Passing Maths": size_passing_maths,
    "% Passing Reading": size_passing_reading,
    "% Overall Passing": size_overall_passing
})
print(size_summary)

In [23]:
type_maths_scores = per_school_summary.groupby(["School Type"])["Average Maths Score"].mean()
type_reading_scores = per_school_summary.groupby(["School Type"])["Average Reading Score"].mean()
type_passing_maths = per_school_summary.groupby(["School Type"])["% Passing Maths"].mean()
type_passing_reading = per_school_summary.groupby(["School Type"])["% Passing Reading"].mean()
type_overall_passing = per_school_summary.groupby(["School Type"])["% Overall Passing Rate"].mean()
type_summary = pd.DataFrame({
    "Average Maths Score": type_maths_scores,
    "Average Reading Score": type_reading_scores,
    "% Passing Maths": type_passing_maths,
    "% Passing Reading": type_passing_reading,
    "% Overall Passing": type_overall_passing
})
print(type_summary)

             Average Maths Score  Average Reading Score  % Passing Maths  \
School Type
Government             69.834806              69.675929        84.462375
Independent            71.368822              70.718933        89.204043

             % Passing Reading  % Overall Passing
School Type
Government           83.587562          70.698993
Independent          86.247789          76.973340